body {
    background-color: #1f1f36;    
    font-family: 'K2D';font-size: 22 px;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: bold;
    color: #0deca9;
}

.title {
    font-size: bold;
    color: #0deca9;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300 px; /* Set a height for the container */
    outline: invert;
    outline-width: 5 px;
}

  p {
    margin-left: auto;
    font-size: large;
    color: #17cce4;
  }

  .flex-container-p {
    display: flex;
    justify-content: center;
    align-items: left;
    height: 300 px; /* Set a height for the container */
}

/* new text animation */


* {
  margin:0;
  padding:0;
}

section {
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
}

article {
  background: #fda9a9;
  height:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}


.h {
  transition: all ease-out .5s;
  color: transparent;
  text-shadow: 0 0 0px #e78383;
  font-size: 6rem;
  padding: 0 1rem;
  overflow: hidden;
  display: block;
  position: relative;
  cursor: pointer;
}

p:before {
  content: "";
  width: 50%;
  position: absolute;
  border-bottom: solid 8px #fff;
  left: -50%;
  top: 50px;
  transition: transform 0.5s cubic-bezier(1, -0.04, 0, 1.16);
}

p span {
  display: block;
  position: absolute;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

p span:first-child:before, p span:last-child:before {
  content: attr(data-text);
  color: #fff;
  display: block;
  transition: ease-out all 0.3s -0.1s;
}

p span:first-child {
  top: 0;
}

p span:last-child {
  bottom: 0;
}

p span:first-child:before {
  transform: translateY(41px);
}

p span:last-child:before {
  transform: translateY(-95px)
}

p:hover {
  transition: all ease-out 0s;
  text-shadow: none;
}

p:hover:before {
  transform: translateX(42rem);
}

p:hover span:first-child:before,
p:hover span:last-child:before {
  transition: ease-out all 0.3s;
  transition-delay: .3s;
}

p:hover span:first-child:before {
  transform: translateY(0);
}

p:hover span:last-child:before {
  transform: translateY(-58px);
}