/* Importing custom fonts */
@import url("https://themes.googleusercontent.com/fonts/css?kit=9oV6R2lcNM7CUUogLO6GsnTzJ3-M7QkzbkNMFpvFmNw");

/* Styling for Lists */
.lst-kix_bxmhg0hlgs21-0 li:before {
    content: "\0025cf";
}

.lst-kix_cfbnmto5jfv1-0 li:before {
    content: "\0025cf";
}

ul.lst-kix_cfbnmto5jfv1-7,
ul.lst-kix_cfbnmto5jfv1-6,
ul.lst-kix_cfbnmto5jfv1-8,
ul.lst-kix_cfbnmto5jfv1-1,
ul.lst-kix_cfbnmto5jfv1-3,
ul.lst-kix_cfbnmto5jfv1-2,
ul.lst-kix_cfbnmto5jfv1-5,
ul.lst-kix_cfbnmto5jfv1-4,
ul.lst-kix_bxmhg0hlgs21-2,
ul.lst-kix_bxmhg0hlgs21-3,
ul.lst-kix_bxmhg0hlgs21-0,
ul.lst-kix_bxmhg0hlgs21-1,
ul.lst-kix_bxmhg0hlgs21-6,
ul.lst-kix_bxmhg0hlgs21-7,
ul.lst-kix_bxmhg0hlgs21-4,
ul.lst-kix_bxmhg0hlgs21-5 {
    list-style-type: none;
}

/* Text Styling */
.c15 {
    font-size: 27pt;
    color: #ff00ff;
    font-weight: 700;
    font-family: "K2D";
}

.c14 {
    color: #0000ff;
    font-size: 11pt;
    font-family: "Arial";
}

.c5 {
    color: #9900ff;
    font-weight: 600;
    font-size: 11pt;
    font-family: "K2D";
}

/* Header and Subheader Styling */
h3.c13 {
    font-size: 16pt;
    color: #434343;
    font-family: "Arial";
}

h3.c4 {
    color: #1beacb;
    font-weight: 700;
}

/* Image Gallery */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.image-gallery img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
}

/* Paragraph Styling */
.c8 {
    font-size: 11pt;
    font-family: "Arial";
    color: #000000;
}

/* Body Styling */
body.c11 {
    background-color: #160647;
    color: white;
    padding: 72pt;
    max-width: 468pt;
}

/* General Text Styling */
p, li {
    font-size: 11pt;
    font-family: "Arial";
    color: #000000;
}
